server {
    listen {{ listen_port }};
    server_name {{ ansible_default_ipv4.address }};

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    }
}
