[Unit]
Description=py4class gunicorn daemon
Requires=py4class.socket
After=network.target

[Service]
PIDFile=/run/py4class/pid
User={{ runtime_user }}
Group={{ runtime_user }}
WorkingDirectory={{ install_directory }}
ExecStart=/usr/local/bin/gunicorn --workers 4 --pid /run/py4class/pid server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
