---
  - name: Configure server
    hosts: py4class

    vars:
      packages:
        - python-pip
        - nginx
        - python-dev
        - redis-server
        - redis-tools
      install_directory: /var/app/py4class
      runtime_user: www-data
      gunicorn_sock: /run/py4class/socket
      listen_port: 80

    tasks:
      - name: setup {{ runtime_user }} user
        user: name={{ runtime_user }} state=present

      - name: install needed packages
        apt: name={{ packages }} state=latest

      - name: upload python package requirements
        copy: src=requirements.txt dest=/tmp/requirements.txt

      - name: install python packages
        pip: requirements=/tmp/requirements.txt state=latest

      - name: create deployment directories
        file: path={{ install_directory }} state=directory owner={{ runtime_user }}

      - name: create runtime tmp directory
        file: path=/run/py4class state=directory owner={{ runtime_user }}

      - name: clone the repo
        git: repo=git://github.com/jeremyprice/RU_Python_IV_API.git
             dest={{ install_directory }}
        become: yes
        become_user: "{{ runtime_user }}"
        notify:
          - restart redis
          - restart app

      - name: install the system files
        template: src={{ item.src }} dest={{ item.dest }}
        notify:
          - reload systemd
          - restart redis
          - restart app
        with_items:
          - { src: "systemd.service.j2", dest: "/lib/systemd/system/py4class.service" }
          - { src: "systemd.socket.j2", dest: "/lib/systemd/system/py4class.socket" }
          - { src: "tmpfiles.d.conf.j2", dest: "/usr/lib/tmpfiles.d/py4class.conf" }

      - name: install the nginx config file
        template: src=nginx.j2 dest=/etc/nginx/sites-available/py4class
        notify: reload nginx

      - name: enable the py4class site config in nginx
        file: src=/etc/nginx/sites-available/py4class
              path=/etc/nginx/sites-enabled/py4class state=link
        notify: reload nginx

      - name: disable the default nginx site config
        file: path=/etc/nginx/sites-enabled/default state=absent
        notify: reload nginx

      - name: make sure we don't close OpenSSH ports in the firewall
        ufw: rule=allow state=enabled name=OpenSSH

      - name: make sure we don't close ssh ports in the firewall
        ufw: rule=allow state=enabled port=ssh

      - name: poke a hole in the firewall for the nginx server
        ufw: proto=tcp rule=allow state=enabled to_port={{ listen_port }}

      - name: ensure nginx, redis, and app are started and boot enabled
        service: name={{ item }} state=started enabled=yes
        with_items:
          - nginx
          - py4class
          - redis-server

    handlers:
      - name: reload systemd
        command: systemctl daemon-reload

      - name: reload redis
        service: name=redis state=restarted

      - name: restart app
        service: name=py4class state=restarted

      - name: restart nginx
        service: name=nginx state=restarted
